/*.vcxproj
/*.filters
/*.sln
/x64/Debug/ZERO_CHECK/*.recipe
/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/*.tlog
/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/*.lastbuildstate
/x64/Release/ZERO_CHECK/*.recipe
/HacPack.dir/Debug/HacPack.tlog/*.tlog
/HacPack.dir/Release/*.recipe
/HacPack.dir/Release/HacPack.tlog/*.tlog
/HacPack.dir/Release/HacPack.tlog/*.lastbuildstate
/CMakeFiles
/.vs/HacPack/v17/ipch/AutoPCH/699092ee9303d832/*.ipch
/.vs
/.vscode
/HacPack.dir
/x64
/build
/hacpack_reader.dir
/hacpack_utf.dir
/hacpack_writer.dir
/CMakeCache.txt
/cmake_install.cmake
/.cmake
/hacpack_modules.dir
/MinSizeRel
/Release
/RelWithDebInfo
/bin
/Debug

